#breadcrumbs
    ul.breadcrumb
        li(v-for="folder in bookmarkHierarchy")
            a(
            @click="openDir(folder.id)",
            :class="{active : folder.id === openDirId}") {{$index == 0 ? 'HOME' : folder.title}}