#breadcrumbs
    ul.breadcrumb
        li(v-for="(folder, index) in bookmarkHierarchy")
            a(
                v-if="index !== bookmarkHierarchy.length -1",
                @click="openDir(folder.id)",
            ) {{folder.title}}
            span(
                v-if="index === bookmarkHierarchy.length -1 "
            ) {{folder.title}}