#breadcrumbs {
  font-size: 2rem;
  margin:4px;
  padding: 10px;
  border-bottom: solid 1px #ccc;
  ul{

    li{
      text-decoration: none;
      display: inline;
    }

    margin:4px;
  }
  a{

    &:hover{
      cursor: pointer;
    }

    &::after{
      color: black;
      margin-left: 8px;
      margin-right: 8px;
      content:'/';
    }
  }
}