#main
    //- mainpageのコンポーネント　大本.
    #side.hidden-sm.hidden-xs.hidden-md
        tree-nav.bg-danger
        bm-detail.bg-info
    #center
        breadcrumbs.bg-primary
        bm-view.bg-success
        toolbar.bg-warning
