#　こいついっつもいれるけどOS X隠しファイルなんだってさ　初めて知ったわ
.DS_Store

# node_modulesを含めるバカはいない
node_modules/

# ビルドがおかれる場所なので
dist/

# 意外と邪魔な子
npm-debug.log

# typings.jsonをもとにインストールできるので
typings/

# IDEの設定ファイル　含めるとよくコンフリクトするので
.idea/
