<div id="about">
    <div class="animation" style="animation-duration: 1500ms; opacity: 1;">
        <section id="title_news">
            <div class="top_Nav_txt">
                <h1>About</h1>
            </div>
        </section>

        <div class="inner">
            <div class="text-center">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-4">
                        <h2>自動分類</h2>
                        <i class="fa fa-3x fa-search"></i>
                        <p>キーワードを指定することで、そのキーワードに関連するページをひと纏まりに分類することができます。</p>
                        <p>もうどのページが目当てのものなのか探す必要がありません。</p>
                    </div>

                    <div class="col-md-4">
                        <h2>どこまでも快適に</h2>
                        <i class="fa fa-3x fa-mouse-pointer"></i>
                        <p>もうサイトを確認して該当するページをフォルダに分けるという煩わしい作業は必要ありません。</p>
                        <p>検索ボタンからフォルダ分けしたいキーワードを入力してボタンを押すだけで完了します。</p>
                    </div>

                    <div class="col-md-4">
                        <h2>かゆい所に手が届く</h2>
                        <i class="fa fa-3x fa-thumbs-up"></i>
                        <p>あなたはアドオンをブラウザに入れるだけ。</p>
                        <p>ブックマークのインポート、エクスポートも自動的に行います。</p>
                        <p>後は整理をするだけです。</p>
                    </div>
                </div>

                <div class="row about_content">
                    <div class="col-md-6">
                        <img src="img/top.png" class="img-responsive">
                    </div>

                    <div class="col-md-6">
                        <h2 style="margin-top: 80px;">まるで、エクスプローラのように。</h2>
                        <p style="margin-top: 150px;">ドラッグ&ドロップでブックマークを操作できる安心感。</p>
                        <p>あなたはまるで夢を見ているような感覚に陥ることでしょう。</p>
                    </div>
                </div>

                <div class="row about_content">
                    <div class="col-md-6">
                        <h2 style="margin-top: 80px;">指先に、魔法を。</h2>
                        <p style="margin-top: 150px;">まとめたいキーワードを入力するだけ。</p>
                        <p>驚くほどスマートに、かつ大胆に整理を手助けします。</p>
                    </div>

                    <div class="col-md-6">
                        <img src="img/search.png" class="img-responsive">
                    </div>
                </div>

                <div class="row about_content">
                    <div class="col-md-6">
                        <img src="" class="img-responsive">
                    </div>

                    <div class="col-md-6">
                        <h2 style="margin-top: 80px;">これぞ、近未来。</h2>
                        <p style="margin-top: 150px;">アドオンを導入することで全てを自動で行います。</p>
                        <p>これまでのアナログな時代とはおさらばです。</p>
                    </div>
                </div>

                <div class="row about_content" style="margin-left: 0px; margin-right: 0px;">
                    <div class="text-center"><h1 style="margin-bottom: 50px; margin-top: 50px;">How to use Add-on?</h1></div>

                    <div class="col-md-6">
                        何か説明文かく！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                        ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
                    </div>

                    <div class="col-md-6">
                        <div class="row text-center">
                        <p>以下からアドオンをダウンロード</p>
                        <button type="button" style="margin: 0;" class="btn btn-primary btn-ghost go_download">Chrome版アドオンをダウンロード</button>
                        </div>
                    </div>
                </div>

                <div class="row" style="height: 300px; background-color: lightgray; position: relative;">
                    <div class="col-md-12 center_layout">
                        <p>感動的な体験を今すぐに手に入れましょう</p>
                        <button type="button" style="margin: 0;" class="btn btn-white btn-ghost go_about" @click="goAbout()">今すぐ始める</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>