#bmdeletedialog
    v-modal(
        id="bmdelete_modal"
        bottom
    )
        v-card.secondary.white--text
            v-card-row(actions)
                div ブックマーク削除しました
                v-spacer
                v-btn.warning.white--text 元に戻す