#bmdeletedialog
    v-modal(
        id="bmdelete_modal"
    )
        div
            button.close(@click="closeDialogAct")
                span &times;
            h4.modal-title Confilm
        div
            .media
                .media-left
                    i.fa.fa-2x.fa-exclamation-triangle
                .media-body 削除してもよろしいですか？
        div(slot="modal-footer", class="modal-footer")
            button.btn.btn-default(@click="closeDialogAct") Cancel
            button.btn.btn-danger(@click="deleteBookmark") OK