#bmdetail
    .single(v-if="selectBMIds.length <= 1 && getBM()")
        h4.head
         i(v-show="getBM().folder").fa.fa-folder-open-o
         | {{ getBM().title }}
        table
            tr(v-if="!getBM().folder")
                th url
                td: a(:href="getBM().url") {{getBM().url}}
            tr(v-if="getBM().folder")
                th size
                td {{getBM().getSize()}} 件のブックマーク
            tr
                th regDate
                td {{getBM().regDate.toDateString() }}
            tr
                th detail
                td {{getBM().detail }}
    .multi(v-if="selectBMIds.length > 1")
        h4.head {{selectBMIds.length}} 件のブックマーク
