<div class="MenuContainer">
    <input id="menu" type="checkbox" name="menu" class="HiddenCheckbox">
    <label for="menu" class="MenuIcon"></label>
    <nav class="Menu">
        <ul class="Menu-list">
            <li class="Menu-item">
                <router-link to="/">TOP</router-link>
            </li>
            <li class="Menu-item">
                <router-link to="/about">About</router-link>
            </li>
            <li class="Menu-item">
                <router-link to="/contact">Contact</router-link>
            </li>
            <li v-if="!signInNow" class="Menu-item">
                <router-link to="/signup">Sign Up</router-link>
            </li>
            <li  v-if="!signInNow" class="Menu-item">
                <router-link to="/signin">Sign In</router-link>
            </li>
            <li  v-if="signInNow" class="Menu-item">
                <span @click="signOut">Sign Out</span>
            </li>
        </ul>
    </nav>
</div>