<div class="MenuContainer">
    <input id="menu" type="checkbox" name="menu" class="HiddenCheckbox">
    <label for="menu" class="MenuIcon"></label>
    <nav class="Menu">
        <ul class="Menu-list">
            <li class="Menu-item">
                <a href="#!/">TOP</a>
            </li>
            <li class="Menu-item">
                <a href="#!/about">About</a>
            </li>
            <li class="Menu-item">
                <a href="#!/contact">Contact</a>
            </li>
            <li class="Menu-item">
                <a href="#!/signup">Sign Up</a>
            </li>
            <li class="Menu-item">
                <a href="#!/signin">Sign In</a>
            </li>
        </ul>
    </nav>
</div>