.tree-item(:class="{folder : bookmark.folder}")
    span(
        v-if="bookmark.folder",
        @click="toggle")
            i(v-if="expandNow").fa.fa-caret-down
            i(v-if="!expandNow").fa.fa-caret-right
    span(@dblclick="openBm")
        i(v-if="!bookmark.folder").fa.fa-bookmark
        span.title {{bookmark.title}}
    ul(v-show="expandNow")
        tree-item(v-for="bm in bookmark.bookmark",
        :bookmark="bm")
