.bmicon(
        @contextmenu="toggleContextMenu($event)",
        @click="selectBookmark($event)",
        :class = "{active : isActive}"
    )
    .folder(v-if="bookmark.folder")
        include bmicon-folder
    .item(v-if="!bookmark.folder")
        include bmicon-item
