.bmicon(
        @contextmenu="toggleContextMenu($event)",
        @click="selectBookmark($event)",
        :class = "{active : getSelectBMIds.indexOf(bookmark.id) >= 0}"
    )
    .bookmark(v-if="!bookmark.folder", @dblclick="open")
        .img
            img(:alt="bookmark.title", :src="imgSrc")
        .detail {{getTitle()}}
    .folder(v-if="bookmark.folder", @dblclick="openDir(bookmark.id)")
        .img
            i.fa.fa-4x.fa-folder
        .detail {{getTitle()}}
    .context-menu(v-show="showContextMenu", :style="posStyle")
        button.btn.btn-default(v-if="!bookmark.folder", @click="open") 開く
        button.btn.btn-default(@click="copy") コピー
        button.btn.btn-default(@click="cut") 切り取り
        button.btn.btn-default(@click="edit") 編集
        button.btn.btn-default(v-if="!bookmark.folder", @click="openDeleteDialog($event)") 削除
        button.btn.btn-default(v-if="bookmark.folder",  @click="openDeleteDialog($event)") フォルダ削除