$size : 180px;


.bmicon {

  width: $size;
  height: $size;

  margin: 20px;

  border-radius: $size / 20;
  background-color: rgba(0,0,0,.08);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &.active {
    background-color: rgba(0,0,255,.1);
  }

  .img{
    text-align: center;

    width: $size * 0.7;
    height: $size * 0.7;

    overflow: hidden;
  }

  .detail{
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .contextMenu {
    position: absolute;

  }
}