footer.footer
    .container-fluid.text-center
        hr
        .row
            a(href="https://github.com/Sorarinu/ProjectP2016_F"): i.fa.fa-3x.fa-github
        .row
            p.text-muted 2016 , TEU:Project-P team-F
