#bmview(@contextmenu="contextmenu($event)",@click="contextMenuClose")
    include ./empty-message.pug
    .view-toggle(style="text-align:right")
        v-btn(disabled)
            i.fa.fa-th
        v-btn
            i.fa.fa-list-ul
    #bm-icons(v-if="!bookmarkEmpty")
        bm-icon(
            v-for="bm in bookmarks",
            :bookmark="bm",
            draggable="true",
            @dragstart.native="onDragStart($event, bm)",
            @dragover.native="onDragOver($event, bm)",
            @drop.native="onDrop($event, bm)",
        )
    .context-menu(v-show="showContextMenu", :style="posStyle")
        button.btn.btn-default(@click="paste") 貼り付け
        button.btn.btn-default(@click="addFolder") フォルダ追加

    bm-delete-dialog
    search-dialog
    bm-upload-dialog
