#bmview
    #empty-message(v-if="bookmarkEmpty")
        p bookmarkがありませんよ。あっぷろーどしてね　
        p (やりかたとか詳しく載せる)
        button.btn-primary.btn-lg(@click="uploadBookmark()") BookmarkUpload
    #bm-icons(v-if="!bookmarkEmpty")
        .container
            bm-icon.col-xs-4.col-sm-3.col-md-2(:bookmark="bm" ,v-for="bm in bookmarks")