#bmview(@contextmenu="contextmenu($event)",@click="contextMenuClose")
    include ./empty-message.pug
    #bm-icons(v-if="!bookmarkEmpty")
        bm-icon(
            v-for="bm in bookmarks",
            :bookmark="bm",
            draggable="true",
            @dragstart="onDragStart($event, bm)",
            @dragover="onDragOver($event, bm)",
            @drop="onDrop($event, bm)",
        )
    .context-menu(v-show="showContextMenu", :style="posStyle")
        button.btn.btn-default(@click="addFolder") フォルダ追加

    bm-delete-dialog
    search-dialog
    bm-upload-dialog
