#bmview
    #empty-message(v-if="bookmarkEmpty")
        p bookmarkがありませんよ。あっぷろーどしてね　
        p (やりかたとか詳しく載せる)
        button.btn-primary.btn-lg(@click="uploadBookmark()") BookmarkUpload
    #bm-icons(v-if="!bookmarkEmpty")
        bm-icon(
          :bookmark="bm",
          v-for="bm in bookmarks",
          draggable="true",
          @dragstart="onDragStart($event, bm)",
          @dragover="onDragOver($event, bm)",
          @drop="onDrop($event, bm)"
        )