<div id="index">
    <div class="animation" style="animation-duration: 1500ms; opacity: 1;">
        <section id="key_visual">
            <div class="inner_text_center" style="color: white;">
                <h1 style="font-size: 62px;">CloudBM</h1>
                <h2>ブックマークをより分かりやすく便利に</h2>
                <p>
                    新たな時代の幕開けです
                </p>
            </div>
            <a><span></span></a>
            <video :src="movie" muted autoplay loop poster="" class="movie_pc"></video>
        </section>

        <section id="nav_01">
            <div class="inner_text_top">
                <h1>ブックマークを一つに。</h1>
            </div>
            <div class="inner_text_center">
                もう散らかったブックマークを探す必要はありません。<br>
                関連するキーワードから自動でフォルダに分類します。
            </div>
            <a><span></span></a>
        </section>

        <section id="nav_02">
            <div class="inner_text_top">
                <h1>並み外れた、操作性。</h1>
            </div>
            <div class="inner_text_center">
                もう煩わしいブックマーク整理とはお別れです。<br>
                ボタン数クリックで全て終わります。
            </div>
            <a><span></span></a>
        </section>

        <section id="nav_03">
            <div class="inner_text_top">
                <h1>同じ内容を、まとめる。</h1>
            </div>
            <div class="inner_text_center">
                同じ内容のブックマークを抽出。<br>
                アクセスしやすく一つにまとめます。
            </div>
            <a><span></span></a>
        </section>

        <section id="nav_04">
            <div class="inner_text_center">
                <h2>今までのブックマークを変えるすべてがここにあります</h2>
                <button type="button" class="btn btn-white btn-ghost go_about" @click="goAbout()">今すぐ始める</button>
            </div>
        </section>
    </div>
</div>