#index
    header.jumbotron
        .container
            h1 CloudBM

            p ブックマークをわかりやすくより便利に
            br
            button.btn-white.btn-ghost.btn-lg(@click="goAbout()") READ MORE

    .container
        .row
            .col-md-4
                .service
                    .desc
                        h3 ブックマークを
                        h3 1つに
                        i.fa.fa-4x.fa-bookmark-o
                    p.explanation
                        | 別のブラウザで保存されたブックマーク
                        br
                        | 簡単に纏めることができます
            .col-md-4
                .service
                    .desc
                        h3 シンプルな操作で
                        h3 簡単整理
                        i.fa.fa-4x.fa-hand-pointer-o
                    p.explanation
                        | 散らかったブックマーク単純な操作で整理できます
                        br
                        | フォルダ作成・並び替え・名前変更 etc
            .col-md-4
                .service
                    .desc
                        h3 ワンタッチで
                        h3 すぐ分類
                        i.fa.fa-4x.fa-file
                    p.explanation
                        | 増えてしまったブックマークから内容の似たページを抽出
                        br
                        | 簡単にフォルダにまとまります
        .row
            .col-md-12.text-center
                h2 今までのブックマークを変えるすべてがここにあります

    .btnSign
        button.btn-info.btn-lg(@click="goSignUp()") 今すぐ始める
     

