#treenav{
  overflow: scroll;
  white-space: nowrap;

  .tree-item{
    .folder{
      margin-bottom: 4px;
      margin-top: 4px;
    }

    &:hover{
      cursor: pointer;
    }

    ul {
      margin-left: 20px;
    }

    span{
      margin-right: 8px;
    }

    .title{
      color: lighten(black, 20%);
    }
  }
}