/*
* TopLevelのCSS
* 全体共通のスタイルについて定義.
*/

/*
* reset CSS
*/
@import "assets/vendor/rest.css";

/*
* bootstrap3 をインポートするよ
*/
@import "assets/vendor/bootstrap3.3.7/css/bootstrap.min.css";
@import "assets/vendor/bootstrap3.3.7/css/bootstrap-theme.min.css";

/*
* Animation.css
*/
@import "assets/vendor/animation.min.css";


/*
* common lib css
 */
@import "assets/csslib/common.scss";

/*
* font-awesome
*/
@import "~font-awesome/css/font-awesome.css";

/*
* mplus font
*/
@font-face {
  font-family: 'mplus-1p-regular';
  src: url('assets/fonts/mplus-1p-regular.ttf');
  font-weight: 400;
}

/*
* 共通して設定していくスタイルがあったら以下に書いていくよ
*/
html {
  height:100%;
  body{
    font-family: "mplus-1p-regular";
    font-size: calc(18px + 0.25vw);
  }
}

#app {
  height:100vh;
  display: flex;
  flex-direction: column;

  .maincontent {
    flex-grow: 1;
  }
}