#navbar
    h2 navbar-component
    p {{active}}

    nav
        ul
            li: a(v-link="{name:'index'}") Index
            li: a(v-link="{name:'about'}") About
            li: a(v-link="{name:'contact'}") Contact
            li: a(v-link="{name:'help'}") Help
