#searchdialog
    v-modal(
        id="search_modal"
    )
        v-card.content
            v-card-text
                p.text-xs-center.display-1 ブックマーク検索
            v-card-column
                v-text-input(
                    label="From",
                    :placeholder="getFromPath()"
                    disabled,
                )
                v-card-row
                    v-text-input(
                        label="SearchWord",
                        v-model="searchWord",
                        @keyup.enter.native="search"
                    )
                    v-btn(
                        info
                        @click.native="search"
                    )
                        i.fa.fa-search

                .spinner(v-show="showRes && bookmarkSearchRes == null")
                    .rect1
                    .rect2
                    .rect3
                    .rect4
                    .rect5
                .res(v-if="showRes && bookmarkSearchRes != null")
                    div(v-if="bookmarkSearchRes.length === 0 ")
                        h1.headline.text-sm-center 内容一致するブックマークが見つかりませんでした.
                    div(v-if="bookmarkSearchRes.length > 0")
                        v-table-overflow
                            table
                                thead
                                    tr
                                        th
                                        th name
                                tbody
                                    tr(v-for="(resBM,index) in bookmarkSearchRes")
                                        td
                                            v-checkbox(:id="'checkbox' + index" v-model="checkState")
                                        td  {{resBM.title}}
                        div(style="text-align:right")
                            v-btn(@click.native="grouping", large success) {{searchWord}} フォルダにまとめる