#searchdialog
    v-modal(
        id="search_modal"
    )
        v-card.content
            v-card-text
                p.text-xs-center.display-1 ブックマーク検索
            v-card-column
                v-text-input(
                    label="From",
                    disabled,
                )
                v-card-row
                    v-text-input(
                        label="SearchWord",
                        v-model="searchWord",
                        @keyup.enter="search"
                    )
                    v-btn(
                        info
                        @click.native="search"
                    )
                        i.fa.fa-search

                .spinner(v-show="showRes && bookmarkSearchRes == null")
                    .rect1
                    .rect2
                    .rect3
                    .rect4
                    .rect5
                .res(v-if="showRes && bookmarkSearchRes != null")
                    h4 {{searchWord}} の検索結果　{{bookmarkSearchRes.length}} 件
                    v-table-overflow
                        table
                            thead
                                tr
                                    th
                                    th name
                            tbody
                                tr(v-for="(resBM,index) in bookmarkSearchRes")
                                    td
                                        v-checkbox(:id="'checkbox' + index" checked)
                                    td  {{resBM.title}}
            div
                v-btn(v-show="showRes", @click.native="grouping", large success) {{searchWord}} フォルダにまとめる