#searchdialog
    modal(large, :show="show", backdrop="false")
        div(slot="modal-header", class="modal-header")
            button.close(@click="closeSearchDialogAct")
                span &times;
            h4.modal-title ブックマーク検索

        div(slot="modal-body", class="modal-body")
            .input-group
                span.input-group-addon From
                input.form-control(type="text" disabled="disabled", :value="getFromPath()")

            .input-group
                span.input-group-addon SearchWord
                input.form-control(type="text",@keyup.enter="search", v-model="searchWord")
                span.input-group-btn
                  button.btn.btn-primary(@click="search", :disabled="searchWord.length === 0")
                    i.fa.fa-search
                    | 検索
            .spinner(v-show="showRes && bookmarkSearchRes == null")
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            .res(v-if="showRes && bookmarkSearchRes != null")
                h4 {{searchWord}} の検索結果　{{bookmarkSearchRes.length}} 件
                .bookmark-item(v-for="resBM in bookmarkSearchRes")
                    input(type="checkbox" checked="checked")
                    a(href="resBM.url") {{resBM.title}}
        div(slot="modal-footer", class="modal-footer")
            button.btn.btn-success(v-show="showRes", @click="grouping") {{searchWord}} フォルダにまとめる